@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.dgistbackground {
  background-image: url("../../public/dgist.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainbackground {
  background-image: url("../../public/kaist.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gistbackground {
  background-image: url("../../public/gist.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  min-height: 2cm;
}

.maintop {
  min-height: 10cm;
}

.domain {
  text-align: center;
  font-size: 4rem;
  font-family: "Jua", sans-serif;
  text-decoration: none;
  margin-top: 2cm;
}

.mainbody {
  display: flex;
  margin-top: 4cm;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: "6FB6";
}

.start {
  display: flex;
  justify-content: center;
}

.startbutton {
  font-size: 1.25rem;
  font-family: "Jua", sans-serif;
  text-decoration: none;
  height: 2cm;
  width: 3cm;
  border: 4px solid black;
  border-radius: 25%;
}

.editor {
  text-align: bottom;
  font-size: 1.25rem;
  font-family: "Jua", sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
  margin-top: 1.5cm;
}

.divgroup {
  height: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15%;
}
