@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.top {
  min-height: 2cm;
}

.domain {
  text-align: center;
  font-size: 4rem;
  font-family: "Jua", sans-serif;
  text-decoration: none;
}

.mainbody {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color : "6FB6"
}

.start {
  display: flex;
  justify-content: center;
}

.editor {
  text-align: center;
}
