.top {
  min-height: 50px;
}

.domain {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.mainbody {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.start {
  display: flex;
  justify-content: center;
}

.editor {
  text-align: center;
}
