@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.hellouser {
  align-content: center;
  font-family: "Jua", sans-serif;
  text-decoration: none;
  font-size: 3rem;
  margin-top: 1cm;
}

.divgroup2 {
  height: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15%;
}

.buttongroup1 {
  width: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2cm;
}

.logoutbutton1 {
  background-color: red;
  font-family: "Jua", sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
}
