
.style1 {
    border: 1px solid black;
    
    /* border: 1px solid black ; */
}
.number {
    width : 2rem;
    height: 3rem;
    padding : 10px;
}
.name {
    width : 17.5rem;
}
.type {
    width : 4.375rem;
}
.area {
    width : 6.25rem;
}
.credit {
    width : 3.125rem;
    text-align: center;
}
